<div class="container col-xs-10 col-xs-offset-1">
<%= simple_form_for @car do |f| %>
<%= f.input :make %>
<%= f.input :model %>
<%= f.input :color %>
<%= f.input :year %>
<%= f.button :submit %>
<% end %>
</div>
